html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}

q {
	font-style: italic;
	
	/* margin-block values like p */
	margin-block-start: 1rem;
	margin-block-end: 1rem; 
}

hr {
	border: none;
	border-top: 1px solid #e0e0e0;
}

h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
	width: 15%;
	min-width: 100px;
	max-width: 250px;
}

video {
	width: 75%;
	height: 20%;
}

header {
	position: relative;
}

header img {
	width: 100%;
}

header #header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: white;
	text-align: center;
	width: 95%;
}

section h2 {
	text-align: center;
	margin-bottom: 0.5rem;
}

section article {
	padding: 2%;
	text-align: center;
}

section article h3 {
	margin-top: 0;
}

section#quotes article {
	width: 96%; /* + 4% padding = 100% */
	background-color: #efefef;
	margin: 2% auto;
}

section#quotes article p:first-child {
	margin-top: 0;
}

section#quotes article p:last-child {
	margin-bottom: 0;
}

footer, footer a {	
	text-align: center;
	font-size: 0.8rem;
	color: #b7b7b7;
	margin: 1rem 0;
}

.horizontal-centered-block {
	display: block;
	margin: 0 auto;
}

@media only screen and (min-width: 700px) {
	header #header-text {
		font-size: 1.6rem;
	}
}

@media only screen and (min-width: 1024px) {
	header #header-text {
		font-size: 2rem;
	}
}